<%provide(:title, "登录")%>
<div class="container">
	<div class="span6 offset3 well" style="margin-top: 200px;">
		<div class="caption">
			<h4>登录</h4>
			<% if !flash.empty? then%>
			<div class="alert">
				<%= flash[:error] %>
			</div>
			<%end%>
		</div>
		<%= form_for(:sign_ins, url: sign_ins_path, html: {class: "form-horizontal"} )  do |f| %>
			<div class="control-group">
				<%= f.label :username, '用户名', class: 'control-label'%>
				<div class="controls">
					<%= f.text_field :username , placeholder: "用户名"%>
				</div>
			</div>
			<div class="control-group">
				<%= f.label :password, "密码", class: 'control-label'%>
				<div class="controls">
					<%= f.password_field :password, placeholder: "密码"%>
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<%= f.submit "提交", class: 'btn btn-primary'%>
					<%= tag "input", type: 'reset', class: 'btn', onclick: 'javascript:reset()'%>
				</div>
			</div>
		<% end %>
	</div>
</div>

<script type="text/javascript">
	function reset()
	{
		var username_field = document.getElementById('sign_ins_username');
		username_field.value = "";

		var password_field = document.getElementById('sign_ins_password');
		password_field.value = "";
	}
</script>